body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.main-button {
	position: absolute;
	left: 1000rem;
}

.registrer {
	color: transparent;
}
& input {
	visibility: hidden;
}
